<div class="container">
  <p><b>Title:</b><%= @post.title %></p>
  <p><b>Content:</b><%= @post.body %></p>
  <p><b>Author:</b><%= @post.author %></p>
  <p><%= image_tag @post.media, class:'img-fluid img-thumbnail' %></p>
</div>
<hr>
<%= link_to "Edit", edit_post_path(@post), class: "btn btn-sm btn-success" %>|
<%= link_to "List posts", posts_path, class: "btn btn-sm btn-primary" %>
<%= link_to "New post", new_post_path, class: "btn btn-sm btn-primary" %>