<!DOCTYPE html>
<html>
  <head>
    <title>Bloggg</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container container-main">
      <% if notice %>
        <div class="row alert alert-primary rounded">
          <center> <%= notice %> </center>  
        </div>
      <% end %>
      
      <% if alert %>
        <div class="row alert alert-danger rounded">
          <center> <%= alert %> </center>  
        </div>
      <% end %>

      <%= yield %>  
    </div>
  </body>
</html>
